---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<div class="wordwrap">You can also find my articles on <a href="https://scholar.google.com/citations?user=zuMXeBkAAAAJ&hl=ko">my Google Scholar profile</a>.</div>

<div class="wordwrap">If you have any questions about my research, please <a href="mailto:jiminlee28@snu.ac.kr">email me!</a></div>

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
